body {
	width: 100%;
	margin: auto;
    background: url('../img/test.jpg');
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100vh;
}

.container {
	width: 1060px;
	margin: auto;
}

.header {
	top: 0;
    width: 100%;
	position: fixed;
	background-color: #444444;
}

.logo {
	float: left;
	font-size: 20px;
	font-family: 'Helvetica';
}

b {
	color: white;
	text-decoration: none;
}

._nav {
    z-index: -1;
	float: right;
}

._nav > li {
	float: left;
	padding-top: 30px;
	margin-left: 30px;
	list-style: none;
}

._nav > li > input {
    border: none;
    background: none;
    color: white;
    font-size: 16px;
	text-decoration: none;
}

._nav > li > b:hover {
	color: #c1c1c1;
}

#error_msg {
    width: 50%;
    margin: 5px auto;
    height: 30px;
    border: 1px solid #FF0000;
    background: #FFB9B8;
    color: #FF0000;
    text-align: center;
    padding-top: 10px;
}

.add_btn {
    background-color: #FFB3FF;
    border: 2px solid #FFB3FF;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: right;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}
.add_btn:hover {
    background-color: white;
    color: #FFB3FF;
}

.detail_btn {
    background-color: #33ccff;
    border: 2px solid #33ccff;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.detail_btn:hover {
    background-color: white;
    color: #33ccff;
}

.edit_btn {
    background-color: #66dd00;
    border: 2px solid #66dd00;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.edit_btn:hover {
    background-color: white;
    color: #66dd00;
}

.delete_btn {
    background-color: #ff0000;
    border: 2px solid #ff0000;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.delete_btn:hover {
    background-color: white;
    color: #ff0000;
}